# OS
.DS_Store
/.un~

# IDE
.idea
.vscode
workspace.code-workspace

# Repo
.git
.github
.gitignore
.dockerignore

# Build
push-prod-image.sh
docker-compose.yml
.pre-commit-config.yaml
setup.cfg

# Compiled
*.pyc
*.pyo
*.pyd
venv
pvmon/__pycache__

# Client data
pvmon/resources/client-data
pvmon/resources/db
pvmon/resources/templates
*.pkl

# Logs
geckodriver.log
