# OS
.DS_Store
/.un~

# IDE
.idea

# Repo
.git
.github

# Build
push-prod-image.sh
docker-compose.yml
.pre-commit-config.yaml
setup.cfg

# Compiled
*.pyc
*.pyo
*.pyd
venv
pvmon/__pycache__

# Client data
pvmon/resources/client-data
pvmon/resources/db
pvmon/resources/templates
*.pkl

# Logs
pvmon/geckodriver.log
